.course-component {
    background: url("../../resources/student-courses-image.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.side-rectangle {
    position: absolute;
    width: 50%;
    height: 8%;
    right: 58%;
    top: 46%;
    align-items: center;
    background: rgba(22, 23, 22, 0.72);
    transform: rotate(-90deg);
    word-wrap: break-word;
    text-align: center;
}

.news-list, .long-comments-list {
    height: 18vw !important;
}

.short-comments-list {
    height: 9.5vw !important;
    border-bottom: solid black 2px !important;
}

.comments-to-accept {
    height: 8vw !important;
}

.center-div {
    align-items: center;
    text-align: center;
}

.side-text {
    position: relative;
    font-family: Ruda, serif;
    font-style: normal;
    font-weight: bold;
    font-size: x-large;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 0.9vw;
    color: #ffffff;
}

.rectangle-text {
    position: relative;
    top: 1vw;
    font-family: Ruda, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    white-space: nowrap;
    word-wrap: break-word;
    color: #ffffff;
    text-transform: uppercase;
}


.icon {
    color: white;
}


.button:hover {
    background: rgba(39, 167, 136, 0.69) !important;
}

.grey-rectangle {
    position: absolute;
    display: flex;
    background: var(--grey);
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


.news-rectangle {
    position: relative;
    width: 27vw;
    height: 30vw;
    left: 2.5vw;
    top: 1vw;
    background: rgba(77, 82, 81, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 10%;
}

.comments-rectangle {
    position: relative;
    width: 27vw;
    height: 30vw;
    left: 3vw;
    top: 1vw;
    background: rgba(77, 82, 81, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 10%;
}

.comments-inside-rectangle, .news-inside-rectangle {
    position: relative;
    background: rgba(152, 160, 157, 0.103);
    top: 2vw;
    width: 27vw;
    height: 20vw;
}

.content-type-circle {
    position: absolute;
    background: rgba(129, 117, 117, 0.9);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 4px rgba(61, 57, 57, 0.9);
    border-radius: 100%;
    height: 24%;
    width: 20%;
    top: 70%;
}

.content-type-circle:hover {
    cursor: pointer;
    background: rgba(255, 233, 36, 0.69) !important;
    border-bottom: solid 4px #666526;
    transform: scale(1.1);
}

.content-type-circle .fa {
    line-height: 80px;
}

.content-type-circle:active {
    /*onClick*/
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
    transform: scale(0.8);
}

.laboratoare-align {
    right: 17%;
}

.seminarii-align {
    right: 39%;
}

.cursuri-align {
    right: 61%;
}

.content-type-icon {
    color: rgba(253, 253, 253, 0.945);
    position: relative;
    top: 2vw;
    height: 40%;
    width: 40%;
}

.content-type-text {
    color: rgba(253, 253, 253, 0.945);
    position: relative;
    top: 2vw;
    font-family: Ruda;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3vw;
}

.comment-input, .news-input {
    position: relative;
    width: 16vw;
    height: 2vw;
    top: 3vw;
    background: rgba(244, 244, 244, 0.55);
    border-radius: 10px;
}


.send-icon {
    position: relative;
    color: rgb(255, 255, 255);
    top: 3.5vw;
    left: 0.5vw;
    height: 2vw;
    width: 2vw;
}

.send-icon:hover {
    color: rgb(38, 189, 0);
    cursor: pointer;
}

.news-text {
    color: #ffffff;
    font-size: 1vw;
}

.accept-comment-button {
    background-color: rgba(23, 145, 57, 0.66) !important;
    margin-right: 5% !important;
}

.decline-comment-button {
    background-color: rgba(167, 62, 39, 0.69) !important;
}
