.teacher-profile {
    background: url("../../../resources/profile-image.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.light-grey-rectangle-2 {
    top: 60% !important;
    height: 35% !important;

}
