.browse button{

    background-color: #efefef ;
}
.input{
    font-size: large !important;
    font-family: Arial, serif !important;

}
.upload{
    font-size: large;
    background: var(--green) !important;
    color: white !important;
}
