.login-component{
    width:100%;
    height: 100%;
    overflow:hidden;
    position: absolute;
}
.image-left-component{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    float: left;
    background: url("../../resources/login.jpg") no-repeat;
    background-size: cover;
    opacity: 65%;
    border: 1px solid #E1DDDD;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
}
.login-page-image{
    position: absolute;
    width: 100%;
    height: 100%;
    /*width: 12vw;*/
    /*height: 12vw;*/
    background: #FFFFFF;
    background: url("../../resources/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    box-shadow: 0.4vw 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.2), 0 0 0.7vw 0 rgba(0, 0, 0, 0.19);
}
.welcome-text{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 22.77%;
    bottom: 87.96%;
    text-shadow: 0.2vw 0.2vw 0.4vw #000000;
    font-family: Ruda, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 4vw;
    text-align: center;

    color: #FFFFFF;
}
.welcome-text-line{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 42%;
    bottom: 68%;
    border: 0.3vw solid #FFFFFF;
    width: 20%;
    text-shadow: 0.2vw 0.2vw 0.4vw #000000;
}
.white-rectangle{
    position: absolute;
    left: 45%;
    right: 67%;
    top: 48%;
    bottom: 26.07%;
    width: 11vw;
    height: 11vw;
    background: #FFFFFF;
    background-size: cover;
    border-radius: 100%;
}

.second-white-rectangle{
    position: absolute;
    left: 45%;
    right: 67%;
    top: 72%;
    bottom: 5.37%;
    width: 11vw;
    height: 11vw;
    background: #FFFFFF;
    border-radius: 100%;
}

.first-green-circle{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 14%;
    bottom: 16%;
    background: rgba(23, 145, 57, 0.66);
    border-radius: 50%;
    min-width: 8vw;
    min-height: 8vw;
}
.second-green-circle{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    min-width: 8vw;
    min-height: 8vw;
    background: rgba(23, 145, 57, 0.66);
    border-radius: 50%;
    border: solid thick rgba(23, 145, 57, 0.66);
}
.second-green-circle:focus{
    outline: none;
}
.second-green-circle:hover{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    min-width: 8vw;
    min-height: 8vw;
    background: rgba(23, 145, 57, 0.66);
    border-radius: 50%;
    border-color: rgba(23, 145, 57, 0.66);
    border-style: groove;
    opacity: 0.6;
}

.login-icon{
    position: absolute;
    left: 17%;
    top: 13%;
    color: rgba(0, 0, 0, 0.51);
    height: 5vw;
    width: 5vw;
}

.register-icon{
    position: absolute;
    left: 15%;
    top: 10%;
    color: rgba(0, 0, 0, 0.51);
    height: 5vw;
    width: 5vw;
}


.right-component{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}

.username-input{
    position: absolute;
    left: 20%;
    right: 10%;
    top: 34%;
    bottom: 66%;
    height: 5%;
    width: 60%;
    font-family: Adamina, serif;

    background: rgba(206, 202, 202, 0.33);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    padding-left: 1vw;
}

.password-input{
    position: absolute;
    left: 20%;
    right: 10%;
    top: 42%;
    bottom: 68%;
    height: 5%;
    width: 60%;
    resize: none;
    font-family: Adamina, serif;
    background: rgba(206, 202, 202, 0.33);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 1vw;
    border-radius: 2vw;
}

.lets-go-button{
    position: absolute;
    left: 35%;
    right: 40%;
    top: 53%;
    bottom: 42%;
    height: 8%;
    width: 30%;
    background: rgba(23, 145, 57, 0.66);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

.lets-go-text{
    text-align: center;
    font-family: Ruda, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: white;
}

.login-text{
    position: absolute;
    left: 15%;
    right: 10%;
    top: 12%;
    bottom: 78%;

    font-family: Ruda, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;

    color: rgba(0, 0, 0, 0.51);
}
