.student-courses-component {
  background: url("resources/student-courses-image.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.grey-rectangle {
  position: absolute;
  background: rgba(57, 57, 57, 0.5);
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.logo {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  background: url("resources/logo.jpg");
  background-size: cover;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  border-radius: 50%;
}

.main-text-1 {
  position: absolute;

  top: 40%;
  font-family: Ruda, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  margin-left: 13%;
  margin-right: 13%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.main-text-2 {
  position: absolute;

  top: 50%;
  font-family: Ruda, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
