body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --green: rgba(39, 167, 136, 0.69);
    --red: rgba(167, 62, 39, 0.69);
    --yellow: rgba(255, 233, 36, 0.69);
    --grey: rgba(57, 57, 57, 0.6);
}
