.panel-1 {
    margin-top: -29% !important;
}

.panel-1,
.panel {
    width: 130px !important;
    background: var(--green) !important;
}

.panel:hover,
.panel-1:hover {
    background: var(--yellow) !important;
}

.white-icon {
    color: white;
}

.course-button {
    display: block !important;
    width: 100% !important;
}

.course-button:hover {
    background: var(--green) !important;
}

.panelDetails {
    max-height: 150px;
    overflow: auto;
}

.panelDetails::-webkit-scrollbar-track {
    background-color: transparent;
}

.panelDetails::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.panelDetails::-webkit-scrollbar-thumb {
    background-color: #000000;
}
